@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayaout/Index.cshtml";
}

<style>
	.full-width-button {
		display: block;
		width: 100%;
		padding: 20px 0;
		background-color: #28a745; /* Yeşil renk */
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
		border: none;
		cursor: pointer;
		transition: background-color 0.3s;
	}

		.full-width-button:hover {
			background-color: #218838; /* Hover durumunda daha koyu yeşil */
		}
</style>
<div class="page-content">
	<div class="container-fluid">
		<div class="col-xl-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Hakkımızda Yazısı</h4>
					<p class="card-subtitle mb-4">
						<code class="highlighter-rouge">
							CarBook Hakkımızda Yazısı
						</code>.
					</p>
					<div class="table-responsive">
						<table class="table table-dark mb-0">
							<thead>
								<tr>
									<th>Başlık</th>
									<th>Açıklama</th>
									<th>Görsel</th>
									<th>Sil</th>
									<th>Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.title</td>
										<td>@item.description</td>
										<td>@item.imageUrl</td>
										<td><a href="/Admin/AdminAbout/DeleteAbout/@item.aboutID" class="btn btn-outline-danger">Sil</a></td>
										<td><a href="/Admin/AdminAbout/UpdateAbout/@item.aboutID" class="btn btn-outline-warning">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
						<br />
						<div class="container-fluid p-0">
							<a href="/Admin/AdminAbout/CreateAbout" class="btn btn-success d-block w-100 py-3 fs-4 fw-bold">HAKKIMIZDA EKLE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

