<div class="vertical-menu">

	<div data-simplebar class="h-100">

		<div class="navbar-brand-box">
			<a href="index.html" class="logo">
				<i class="mdi mdi-alpha-x-circle"></i>
				<span>
					Car Books
				</span>
			</a>
		</div>
		<div id="sidebar-menu">
			<ul class="metismenu list-unstyled" id="side-menu">
				<li class="menu-title">Menü</li>
				<li><a href="/Admin/AdminDashoard/Index" class="waves-effect"><i class="feather-airplay"></i><span>Dashboard</span></a></li>
				<li><a href="/Default/Index" class="waves-effect"><i class="fas fa-eye"></i><span>Siteye Git</span></a></li>
				<li><a href="/Admin/AdminStatistics/Index" class="waves-effect"><i class="fas fa-chart-pie"></i><span>İstatistikler</span></a></li>
				<li><a href="/AdminCar/Index" class="waves-effect"><i class="fas fa-car-side"></i><span>Araç İşlemleri</span></a></li>
				<li><a href="/AdminFeature/Index" class="waves-effect"><i class="fas fa-brain"></i><span>Araç Özellikleri</span></a></li>
				<li><a href="/AdminBrand/Index" class="waves-effect"><i class="fab fa-medium-m"></i><span>Markalar</span></a></li>
				<li><a href="/Admin/AdminBanner/Index" class="waves-effect"><i class="fas fa-images"></i><span>Banner Alanı</span></a></li>
				<li><a href="/Admin/AdminAbout/Index" class="waves-effect"><i class="fas fa-info-circle"></i><span>Hakkımızda</span></a></li>
				<li><a href="/Admin/AdminAuthor/Index" class="waves-effect"><i class="fas fa-book-reader"></i><span>Yazar İşlemleri</span></a></li>
				<li><a href="/Admin/AdminCategory/Index" class="waves-effect"><i class="fas fa-clipboard-check"></i><span>Blog Kategorileri</span></a></li>
				<li><a href="/Admin/AdminBlog/Index" class="waves-effect"><i class="fas fa-blog"></i><span>Blog İşlemleri</span></a></li>
				<li><a href="/Admin/AdminPricing/Index" class="waves-effect"><i class="fab fa-amazon-pay"></i><span>Ödeme Türleri</span></a></li>
				<li><a href="#" class="waves-effect"><i class="fas fa-comment-dots"></i><span>Yorumlar</span></a></li>
				<li><a href="/Admin/AdminContact/Index" class="waves-effect"><i class="fab fa-contao"></i><span>İletişim</span></a></li>
				<li><a href="/Admin/AdminFooterAddrees/Index" class="waves-effect"><i class="far fa-map"></i><span>Alt Adres</span></a></li>
				<li><a href="/Admin/AdminLocation/Index" class="waves-effect"><i class="fas fa-map-marker-alt"></i><span>Lokasyonlar</span></a></li>
				<li><a href="/Admin/AdminService/Index" class="waves-effect"><i class="fab fa-servicestack"></i><span>Hizmetler</span></a></li>
				<li><a href="/Admin/AdminSocialMedia/Index" class="waves-effect"><i class="fab fa-instagram"></i><span>Sosyal Medya</span></a></li>
				<li><a href="/Admin/AdminTestimonial/Index" class="waves-effect"><i class="fas fa-users"></i><span>Referanslar</span></a></li>
				<li><a href="#" class="waves-effect"><i class="fab fa-google"></i><span>Etiketler</span></a></li>
				<li><a href="#" class="waves-effect"><i class="fas fa-wrench"></i><span>Ayarlar</span></a></li>
				<li><a href="#" class="waves-effect"><i class="fas fa-window-close"></i><span>Çıkış Yap</span></a></li>
			</ul>
		</div>
	</div>
</div>