@model List<ResultServiceDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayaout/Index.cshtml";
	int count = 0;
}

<style>
	.full-width-button {
		display: block;
		width: 100%;
		padding: 20px 0;
		background-color: #28a745; /* Yeşil renk */
		color: white;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
		border: none;
		cursor: pointer;
		transition: background-color 0.3s;
	}

		.full-width-button:hover {
			background-color: #218838; /* Hover durumunda daha koyu yeşil */
		}
</style>
<div class="page-content">
	<div class="container-fluid">
		<div class="col-xl-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Hizmetler Listesi</h4>
					<p class="card-subtitle mb-4">
						<code class="highlighter-rouge">
							Ana sayfada bulunan mevcut hizmetlerinizi aşağıdan ekleme silme ve güncelleme işlemlerini aşağıdan yapabilirsiniz.

						</code>.
					</p>
					<div class="table-responsive">
						<table class="table table-dark mb-0">
							<thead>
								<tr>
									<th>#</th>
									<th>Başlık</th>
									<th>Açıklama</th>
									<th>İcon Url</th>
									<th>Sil</th>
									<th>Güncelle</th>
									
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<td>@count</td>
										<td>@item.Title</td>
										<td>@item.Description</td>
										<td>@item.IconUrl</td>
										<td><a href="/Admin/AdminService/DeleteService/@item.ServiceID" class="btn btn-outline-danger">Sil</a></td>
										<td><a href="/Admin/AdminService/UpdateService/@item.ServiceID" class="btn btn-outline-warning">Güncelle</a></td>
										
									</tr>
								}
							</tbody>
						</table>
						<br />
						<div class="container-fluid p-0">
							<a href="/Admin/AdminService/CreateService" class="btn btn-success d-block w-100 py-3 fs-4 fw-bold">HİZMET EKLE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

